<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>Dot-Lua Mac</string>

        <key>CFBundleDisplayName</key>
        <string>Dot-Lua Mac</string>

        <key>CFBundleIdentifier</key>
        <string>ga.dot-lua.Dot-Lua</string>

        <key>CFBundleVersion</key>
        <string>1.0.6662</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>CFBundleSignature</key>
        <string>????</string>

        <key>CFBundleAllowMixedLocalizations</key>
        <string>YES</string>

        <key>CFBundleExecutable</key>
        <string>Launch</string>

        <key>NSHighResolutionCapable</key>
        <string>true</string>

        <key>LSApplicationCategoryType</key>
        <string>public.app-category.productivity</string>

        <key>NSLocationAlwaysUsageDescription</key>
        <string>The reason for accessing the location information of the user</string>

        <key>NSLocationWhenInUseUsageDescription</key>
        <string>The reason for accessing the location information of the user</string>

        <key>NSContactsUsageDescription</key>
        <string>The reason for accessing the contacts</string>

        <key>CFBundleShortVersionString</key>
        <string>1.0.0</string>

        <key>CFBundleIconFile</key>
        <string>Dua.icns</string>

        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>MacOSX</string>
        </array>

        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Shell</string>

                <key>LSItemContentTypes</key>
                <array>
                    <string>ga.dot-lua.Dot-Lua.dua</string>
                </array>

                <key>LSHandlerRank</key>
                <string>Owner</string>
                
                <key>CFBundleTypeIconFile</key>
                <string>Dua.icns</string>
            </dict>
        </array>

        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>ga.dot-lua.Dot-Lua.dua</string>

                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>dua</string>
                    </array>
                </dict>

                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>

                <key>UTTypeDescription</key>
                <string>Dua Archive</string>

                <key>UTTypeIconFile</key>
                <string>Dua.icns</string>
            </dict>
        </array>
    </dict>
</plist>